<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menu</p>
    <p><img src="/src/img/rm.jpg" alt=""></p>
    <a routerLink="/home"><p>Character</p></a>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Menu de Filtros
    </button>
    <ul *ngIf="showFiller">
      <li >Genero</li>
      <li >Especie</li>
      <li >Estado</li>
    </ul>
    <br>
    <a routerLink="/episode"><p>Episodios</p></a>
    <p>Location</p>
  </mat-drawer>
<div>
  <div class="example-sidenav-content">
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>


  </div>
</div> -->
<div class="main-content" src="src/img/rick-and-morty-bg.jpg">
    <mat-card class="example-card" *ngFor="let per of personajes">
      <a routerLink="/character/{{per.id}}" routerLinkActive="active"><img mat-card-image src="{{per.image}}" alt="Photo of a Shiba Inu"></a>
      <mat-card-header>
        <mat-card-title class="name"><h1>{{per.name}}</h1></mat-card-title>
        <mat-card-subtitle class="species">{{per.species}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{per.type}}
        </p>
        <p>
          {{per.gender}}
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

  </div>
  <!-- <button>Siguiente</button>
  <button *ngIf="">Back</button>

</mat-drawer-container> -->
